<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite">
    <test name="LoginTests">
        <classes>
            <class name="org.example.ConfigurateAge"/>
            <class name="org.example.OpBillGenerateFlow"/>
            <class name="org.example.CreateSeperateBillOP"></class>
        </classes>
    </test>
</suite>
